**Imbalanced Dataset**

A Dataset with an unequal calss distribution

In [2]:
#importind the dependecies
import numpy as np
import pandas as pd

In [3]:
# we are going to upload the dataset
credit_card_data=pd.read_csv('/content/credit_data.csv')

In [4]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [5]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
9960,14837,1.286884,-0.124610,0.148283,-0.259343,0.248357,0.896718,-0.626627,0.227693,1.618678,...,-0.381864,-0.904515,-0.027985,-1.743540,0.090885,0.870425,-0.084116,-0.022744,12.18,0.0
9961,14854,1.318742,0.496408,0.114876,0.695262,0.170133,-0.537180,0.025492,-0.272931,1.267298,...,-0.484943,-1.111176,0.028259,-0.549934,0.328634,0.106061,-0.046154,0.017304,1.78,0.0
9962,14857,1.241757,0.419587,0.806183,0.894811,-0.507886,-1.118126,0.018908,-0.343335,1.210781,...,-0.379396,-0.817785,0.181425,0.662879,0.172535,0.033636,-0.051084,0.017208,1.29,0.0
9963,14861,1.304800,-0.052885,0.415235,-0.081725,-0.223525,0.097752,-0.561240,0.067228,1.617203,...,-0.379597,-0.929204,0.020955,-0.877006,0.084384,0.807465,-0.099851,-0.015404,4.72,0.0
9964,14864,-1.747939,3.712444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
credit_card_data.shape

(9965, 31)

In [6]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        1
V4        1
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
# distribution of two clacess
credit_card_data['Class'].value_counts()

0.0    9926
1.0      38
Name: Class, dtype: int64

This is highly Imbalanced Dataset

0=> Legit transaction

1-> Froud transaction

In [8]:
# separating the legit and froud transactions
legit = credit_card_data[credit_card_data.Class == 0]
froud = credit_card_data[credit_card_data.Class == 1]

In [10]:
print(legit.shape)

(9926, 31)

In [11]:
print(froud.shape)

(38, 31)

Under Sampling

Building a sample dataset similar distribution of legit and froud tarnsanctions

No of froud tansanctions -->38

In [12]:
legit_sample = legit.sample(n=38)

In [13]:
print(legit_sample)

       Time         V1         V2        V3        V4         V5        V6  \
481     354   1.135629  -0.173986  0.730692  0.711558  -0.854209 -0.494951
1755   1356   1.057470   0.003263  0.339138  1.443896  -0.241933 -0.177943
8573  11557  -0.464031   0.416045  1.139058 -1.117832   0.585009  0.609004
7719  10742  -0.408615  -0.036352  0.966030 -1.965133   0.745356  0.143289
5191   4949   1.031677  -0.006787  0.568099  1.583664  -0.348881  0.030754
2493   2064  -0.335385   0.921588  0.669737 -0.290895   0.906221  0.221030
49       35  -1.063236   1.418191  1.086673  1.241440   0.002306  0.045902
1754   1356  -0.708659   1.360573  0.704554 -0.103319   0.069847 -0.728133
2824   2399  -0.569365   1.240862  1.170854  0.016219  -0.096222 -1.017994
982     742   1.003736  -0.124486  0.550524  0.707663   0.114724  1.142201
2464   2029 -12.168192 -15.732974 -0.376474  3.792613  10.658654 -7.465603
5532   5618  -1.576946  -0.200038  0.267610  0.784742   0.404580 -1.537204
4962   4520   1.265102   0.095366 -1.021144  0.469069   2.260301  3.654120
2484   2053   1.246826   0.625196 -0.664934  1.089065   0.587287 -0.736559
8390  11230  -0.694835  -0.384111  2.848706  0.615083  -1.171292  0.740495
2791   2339  -4.679468   3.892197  0.089051 -2.468071  -0.765521 -1.042147
2790   2336  -0.809725  -0.371908  2.067257 -2.991988  -0.917816  0.032514
7267   9663  -1.178157   0.715470  1.423573  1.467534   0.377157  0.222116
6031   6794   1.434644  -0.861885  0.599756 -1.292039  -1.142848 -0.164004
208     139   0.951278  -0.657730  1.701884  1.809667  -1.360162  0.953858
4553   3874  -0.849445   1.825910  1.851324  3.115628   0.358157  0.860131
952     721  -3.563311   3.030830  1.018811 -2.435007  -0.050960 -0.897096
2450   2018   0.857173  -0.907535  0.810127  0.212238  -1.151551  0.058153
6320   7500  -0.318530   1.173457  1.125184  0.108033   0.465000 -0.534088
3611   3087  -0.589875   0.843842  1.627161  0.835992   0.070096  0.471241
3081   2642  -0.600782   1.320097  1.190900  0.010555   0.057946 -0.974754
6084   6932  -1.310327   1.267836  0.711443 -0.372390   1.008189  0.756422
9628  14441   1.209671  -0.239039  0.269549 -0.131328   0.003157  0.723572
6580   8012  -0.945938  -0.173388  2.754760 -2.426159  -1.087157 -0.368996
8117  11026  -0.810146   0.359009  2.151809 -0.782661   0.019980 -0.658202
4784   4253  -0.935949   1.085800  0.880648  0.138616   0.284590 -0.087930
5297   5171  -1.442827   1.940771 -0.861016  0.889832   0.108960 -0.270509
59       41   1.154312   0.265462  0.384871  0.575007  -0.217475 -0.391520
1245    961   0.632066  -1.301733  0.955140  0.326411  -1.611213 -0.182602
501     369   1.240600   0.747735 -0.214136  1.301475   0.124740 -1.172183
6511   7818  -1.443081   0.345533  2.952169  0.010447  -1.178974  1.570667
2900   2441  -0.542175   0.895345  0.794795 -2.210426   0.387626 -1.228936
1639   1266  -2.148128   1.039827 -1.002419 -0.929506   1.789280  3.431726

            V7        V8        V9  ...       V21       V22       V23  \
481  -0.296620  0.110536  0.490269  ... -0.243930 -0.682700  0.096611
1755  0.115970 -0.009037  0.343912  ... -0.072662 -0.116413 -0.106484
8573  0.299712  0.216780  1.601739  ... -0.247574 -0.430484 -0.405942
7719  0.087799 -0.014955  0.223727  ...  0.085057  0.536037 -0.289690
5191 -0.214084  0.147572  1.621096  ... -0.187458 -0.287500 -0.047609
2493  0.500837  0.202121 -0.188933  ... -0.331084 -0.895072 -0.138840
49    0.514121  0.241252 -0.154500  ... -0.057228  0.314153 -0.129863
1754  0.723974  0.171746 -0.845246  ... -0.340823 -1.181941  0.202594
2824  0.652285 -0.016928 -0.079993  ... -0.304694 -0.777422  0.013345
982  -0.312824  0.418347  0.369756  ... -0.080938  0.095345  0.167729
2464 -6.907038  1.573722  0.058164  ...  1.660209 -0.910516  0.010468
5532  0.054130 -0.101344  1.620375  ... -0.582655 -0.692414  1.262460
4962 -0.530990  0.768441  1.457339  ... -0.333535 -0.667401 -0.115417
2484  0.555989 -0.323875 -0.321365  ... -0.111701 -0.269168 -0.258975
8390  0.271848 -0.122715  1.018644  ... -0.650136 -0.800622  0.242996
2791  0.948518 -0.510880  4.075118  ... -0.811750 -0.279780  0.040202
2790  0.146381  0.028133 -0.093361  ... -0.028170  0.295889 -0.221663
7267  0.149876  0.142945  1.261478  ... -0.184988  0.075538  0.054361
6031 -1.110421 -0.105376 -0.980664  ... -0.272878 -0.098344  0.049534
208  -1.134803  0.528570  1.914404  ... -0.027596  0.284121 -0.092093
4553 -0.069458 -1.825296 -0.219419  ...  1.237110 -0.967306  0.250281
952   1.693126 -1.389859  4.031212  ... -0.838791 -0.214105 -0.095769
2450 -0.556734  0.144123  0.660377  ...  0.209354  0.315765 -0.239317
6320  0.599318 -0.104154  0.946230  ... -0.456431 -1.014685 -0.072545
3611  0.260609  0.107068  0.225174  ...  0.115407  0.688220 -0.349234
3081  0.779208 -0.120089 -0.338358  ... -0.287411 -0.640286 -0.016340
6084  0.791390 -0.107887  0.843072  ... -0.147465  0.183835 -0.323833
9628 -0.645298  0.188138  1.628355  ... -0.066096  0.001439 -0.178019
6580  0.507427 -0.104915  2.720906  ...  0.202652  0.796903 -0.041309
8117  0.064394  0.081137  0.990191  ...  0.087115  0.286139 -0.141050
4784  0.026552  0.592795  0.498516  ... -0.282708 -0.750607  0.077113
5297  0.078930  0.792813  0.688833  ...  0.026115  0.531706  0.144865
59   -0.081489  0.062789 -0.260583  ... -0.193213 -0.557685  0.169492
1245 -0.478545  0.147856  0.901614  ...  0.103585 -0.202094 -0.158336
501   0.371059 -0.306401 -0.246672  ... -0.039413  0.010700 -0.132261
6511 -1.042736  1.203850  2.455843  ...  0.014067  0.576352 -0.266451
2900  1.170662 -0.413711  1.020831  ...  0.001433  0.460745 -0.348656
1639 -0.631536  1.813608 -0.040116  ... -0.223174 -0.667157  0.024399

           V24       V25       V26       V27       V28  Amount  Class
481   0.519267  0.201128  0.259544 -0.039581  0.007195   23.88    0.0
1755  0.074245  0.629171 -0.316821  0.026968  0.024700   63.65    0.0
8573 -1.419918  0.113127  1.025567 -0.037171  0.056634   20.30    0.0
7719 -1.220332 -0.101138 -0.300336  0.159068 -0.051870    9.90    0.0
5191  0.114755  0.495479 -0.377993 -0.011818  0.003753   48.31    0.0
2493 -1.399112 -0.067929  0.190844  0.253477  0.080538    1.88    0.0
49    0.114284 -0.027812 -0.259937  0.118754 -0.008956   20.22    0.0
1754 -0.142191 -0.684229 -0.221155 -0.139790  0.083403   26.59    0.0
2824  0.307656 -0.135252  0.079624  0.348327  0.155497    4.49    0.0
982  -0.594204  0.103796  0.375503  0.050058  0.003841   16.50    0.0
2464 -0.097246 -0.329918  0.225916  0.201802 -2.368534  120.00    0.0
5532  0.246010 -0.414040 -0.073320 -0.327206 -0.234517   11.48    0.0
4962  0.948884  0.869843 -0.365298 -0.001518  0.006159    9.06    0.0
2484 -0.517854  0.873205 -0.312892  0.018433  0.040967   35.54    0.0
8390  0.300520 -0.009627 -0.536044 -0.034819 -0.081781  167.22    0.0
2791  0.500288  0.363647  0.480850 -0.315070 -1.110600    1.46    0.0
2790 -0.654690  0.650362 -0.617296  0.105543  0.085993  120.00    0.0
7267 -0.073493 -0.181383 -0.294114  0.074951  0.169789    9.99    0.0
6031 -0.037837  0.295925 -0.236012  0.022438  0.003399   15.00    0.0
208   0.091900  0.418136 -0.195827  0.106817  0.040881   58.00    0.0
4553 -0.093025 -0.626215 -0.043147 -0.203241 -0.072268    4.90    0.0
952   0.510644  0.212094  0.466986 -0.272527 -1.107368    1.46    0.0
2450  0.097125  0.158925  1.093112 -0.074091  0.032783  187.00    0.0
6320 -0.455198 -0.084689  0.078202  0.214548  0.085487    8.99    0.0
3611 -0.517548  0.115339 -0.125214  0.308158  0.219196   30.33    0.0
3081  0.351089 -0.078089  0.074457  0.368752  0.155359   14.28    0.0
6084 -1.333279  0.094625  0.323259 -0.633139 -0.395595   42.99    0.0
9628 -1.297777  0.259028  1.124737 -0.085790 -0.018132   39.00    0.0
6580  0.347109  0.247594 -0.074113 -0.165672 -0.153275  139.00    0.0
8117  0.329118 -0.201709  0.873228 -0.040416  0.084705   15.95    0.0
4784 -0.429722 -0.214630  0.065935  0.101982 -0.021868   24.99    0.0
5297 -0.346373 -0.565137 -0.404924  0.500032  0.291930   26.99    0.0
59    0.186863  0.089252  0.093626 -0.009633  0.019668    2.67    0.0
1245  0.604686 -0.071407  0.933820 -0.094094  0.054083  281.42    0.0
501   0.306805  0.728251 -0.331239  0.039024  0.053600    1.00    0.0
6511 -0.298164  0.398834  0.653169  0.160494  0.043142   50.00    0.0
2900 -0.106599  0.199153 -0.804858  0.344638  0.041841    1.00    0.0
1639  1.023700  0.308172  0.256425  0.149889  0.181677   14.93    0.0

[38 rows x 31 columns]

In [14]:
legit_sample.shape

(38, 31)

**Concatenate the two Dataframe**

In [15]:
new_dataset = pd.concat([legit_sample,froud] , axis = 0)

In [16]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
481,354,1.135629,-0.173986,0.730692,0.711558,-0.854209,-0.494951,-0.296620,0.110536,0.490269,...,-0.243930,-0.682700,0.096611,0.519267,0.201128,0.259544,-0.039581,0.007195,23.88,0.0
1755,1356,1.057470,0.003263,0.339138,1.443896,-0.241933,-0.177943,0.115970,-0.009037,0.343912,...,-0.072662,-0.116413,-0.106484,0.074245,0.629171,-0.316821,0.026968,0.024700,63.65,0.0
8573,11557,-0.464031,0.416045,1.139058,-1.117832,0.585009,0.609004,0.299712,0.216780,1.601739,...,-0.247574,-0.430484,-0.405942,-1.419918,0.113127,1.025567,-0.037171,0.056634,20.30,0.0
7719,10742,-0.408615,-0.036352,0.966030,-1.965133,0.745356,0.143289,0.087799,-0.014955,0.223727,...,0.085057,0.536037,-0.289690,-1.220332,-0.101138,-0.300336,0.159068,-0.051870,9.90,0.0
5191,4949,1.031677,-0.006787,0.568099,1.583664,-0.348881,0.030754,-0.214084,0.147572,1.621096,...,-0.187458,-0.287500,-0.047609,0.114755,0.495479,-0.377993,-0.011818,0.003753,48.31,0.0

In [17]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
9035,12597,-2.589617,7.016714,-13.705407,10.343228,-2.954461,-3.055116,-9.301289,3.349573,-5.654212,...,1.887738,0.333998,0.287659,-1.186406,-0.690273,0.631704,1.934221,0.789687,1.0,1.0
9179,13126,-2.880042,5.225442,-11.063330,6.689951,-5.759924,-2.244031,-11.199975,4.014722,-3.429304,...,2.002883,0.351102,0.795255,-0.778379,-1.646815,0.487539,1.427713,0.583172,1.0,1.0
9252,13323,-5.454362,8.287421,-12.752811,8.594342,-3.106002,-3.179949,-9.252794,4.245062,-6.329801,...,1.846165,-0.267172,-0.310804,-1.201685,1.352176,0.608425,1.574715,0.808725,1.0,1.0
9487,14073,-4.153014,8.204797,-15.031714,10.330100,-3.994426,-3.250013,-10.415698,4.620804,-5.711248,...,1.976988,0.256510,0.485908,-1.198821,-0.526567,0.634874,1.627209,0.723235,1.0,1.0
9509,14152,-4.710529,8.636214,-15.496222,10.313349,-4.351341,-3.322689,-10.788373,5.060381,-5.689311,...,1.990545,0.223785,0.554408,-1.204042,-0.450685,0.641836,1.605958,0.721644,1.0,1.0

In [18]:
new_dataset['Class'].value_counts()

0.0    38
1.0    38
Name: Class, dtype: int64